In [1]:
from pdf2image import convert_from_bytes
import pytesseract
import os
import pandas as pd
from tqdm import tqdm
import re
import openai
import tiktoken
import random
import json
import fitz
import time
import requests
from requests.packages.urllib3.util import ssl_
import warnings
from requests.packages.urllib3.exceptions import InsecureRequestWarning
import numpy as np
from collections import defaultdict

In [2]:
os.getcwd()

'C:\\Users\\matia\\OneDrive - Universidad del Pacífico\\01-Medidas_emergencia_PE\\01-DATA_PERU\\03-CODE\\Base principal'

**Set own root directory.**

In [3]:
root = r'C:\Users\matia\OneDrive - Universidad del Pacífico\01-Medidas_emergencia_PE'
os.chdir(root)

In [4]:
data_raw = root + r'\01-DATA_PERU\01-DATA_RAW'
data_pro = root + r'\01-DATA_PERU\02-DATA_PROCESSED'
documentation = root + r'\01-DATA_PERU\04-DATA_DOCUMENTATION'

In [5]:
training_df = pd.read_excel(data_pro + r'\training_dfs\pdf_texts_manual.xlsx')
#training_df = training_df.fillna('')
training_df.drop('extraction_type', axis='columns', inplace=True)
training_df

,text,n_cod_contrato,precio_unitario_1,precio_unitario_2,precio_unitario_3,precio_unitario_4,precio_unitario_5,precio_unitario_6,precio_unitario_7,precio_unitario_8,...,precio_unitario_121,precio_unitario_122,precio_unitario_123,precio_unitario_124,precio_unitario_125,precio_unitario_126,precio_unitario_127,precio_unitario_128,precio_unitario_129,precio_unitario_130
0,"EMAPACOP .A, EMPRESA MUNICIPAL OF AGUA POTABL...",1203413,25378.620,16352.23,10662.0,12431.0,571.0,5344.0,1805.0,23704.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,".. , . ..,.. ,.. . ,,. IAFAS del Ejército del ...",1204449,4.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2 EMAPACOP S.A. 8 EMPRESA MUNICIPAL DE AGUA PO...,1206365,601.800,8026.95,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sistema Integrado de Gestidn Administrativa Mo...,1206762,3.220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Subasta Inversa Electronica N 0122018CENARES/M...,1207214,2.337,9.49,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,Ministerio SENASA oe stead PROGRAMA DE DESAR...,2071439,0.805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,PERU de Trabajo ae Sela o Tu ate awe : feet ...,2086854,3.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,isteri Seguro Social de Salud Rex EsSalud y Pr...,2098813,3040000.000,160000.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,Sistema Integrado de Gestién Administrativa Mé...,2107267,4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,SITUACION: Autorizada FECHA: 30/12/2021 000004...,2111371,3426.580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Keep only the unit price columns
unit_price_columns = [col for col in training_df.columns if 'precio_unitario' in col]

# Function to join non-null values
def join_non_nulls(row):
    non_null_values = [str(value) for value in row if not pd.isnull(value)]
    return '; '.join(non_null_values)

training_df['precios_unitarios'] = training_df[unit_price_columns].apply(join_non_nulls, axis=1)
training_df.drop(unit_price_columns, axis='columns', inplace=True)
training_df

,text,n_cod_contrato,precios_unitarios
0,"EMAPACOP .A, EMPRESA MUNICIPAL OF AGUA POTABL...",1203413,25378.62; 16352.23; 10662.0; 12431.0; 571.0; 5...
1,".. , . ..,.. ,.. . ,,. IAFAS del Ejército del ...",1204449,4.75
2,2 EMAPACOP S.A. 8 EMPRESA MUNICIPAL DE AGUA PO...,1206365,601.8; 8026.95
3,Sistema Integrado de Gestidn Administrativa Mo...,1206762,3.22
4,Subasta Inversa Electronica N 0122018CENARES/M...,1207214,2.337; 9.49
...,...,...,...
277,Ministerio SENASA oe stead PROGRAMA DE DESAR...,2071439,0.805
278,PERU de Trabajo ae Sela o Tu ate awe : feet ...,2086854,3.7
279,isteri Seguro Social de Salud Rex EsSalud y Pr...,2098813,3040000.0; 160000.0
280,Sistema Integrado de Gestién Administrativa Mé...,2107267,4.0
281,SITUACION: Autorizada FECHA: 30/12/2021 000004...,2111371,3426.58

In [7]:
training_df['text'] = training_df['text'].str.lower()
training_df['text'] = training_df['text'].apply(lambda x: re.sub('\s+', ' ', x).strip())
training_df['text'] = training_df['text'].apply(lambda x: re.sub(r'(\.|\,)\1+', r'\1', x).strip())

In [8]:
# Split a text into smaller chunks of size n, preferably ending at the end of a sentence
def create_chunks(text, n, tokenizer):
    tokens = tokenizer.encode(text)
    """Yield successive n-sized chunks from text."""
    i = 0
    while i < len(tokens):
        # Find the nearest end of sentence within a range of 0.9 * n and 1.1 * n tokens
        j = min(i + int(1.1 * n), len(tokens))
        while j > i + int(0.9 * n):
            # Decode the tokens and check for full stop or newline
            chunk = tokenizer.decode(tokens[i:j])
            if chunk.endswith(".") or chunk.endswith("\n"):
                break
            j -= 1
        # If no end of sentence found, use n tokens as the chunk size
        if j == i + int(0.9 * n):
            j = min(i + n, len(tokens))
        yield tokens[i:j]
        i = j

In [9]:
# Initialise tokenizer
tokenizer = tiktoken.encoding_for_model('gpt-3.5-turbo')

prompt=[]

for i in tqdm(range(len(training_df['text']))):
    chunks = create_chunks(training_df.loc[i,'text'], 1800, tokenizer)
    text_chunks = [tokenizer.decode(chunk) for chunk in chunks]
    if len(text_chunks)>=2:
        prompt.append(' '.join(text_chunks[:1]+text_chunks[-1:]))
    else:
        prompt.append(' '.join(text_chunks))
training_df['text'] = prompt

100%|███████████████████████████████████████████████████████████████████████████████| 282/282 [00:02<00:00, 124.38it/s]

# Legacy format

In [10]:
training_df['prompt'] = training_df['text'] + '---->'
training_df['completion'] = ' ' + training_df['precios_unitarios'] + ' \n\n###\n\n'
training_df = training_df.drop(columns = ['text','n_cod_contrato','precios_unitarios'])
training_df

,prompt,completion
0,"emapacop .a, empresa municipal of agua potable...",25378.62; 16352.23; 10662.0; 12431.0; 571.0; ...
1,". , . .,. ,. . ,. iafas del ejército del perú ...",4.75 \n\n###\n\n
2,2 emapacop s.a. 8 empresa municipal de agua po...,601.8; 8026.95 \n\n###\n\n
3,sistema integrado de gestidn administrativa mo...,3.22 \n\n###\n\n
4,subasta inversa electronica n 0122018cenares/m...,2.337; 9.49 \n\n###\n\n
...,...,...
277,ministerio senasa oe stead programa de desarro...,0.805 \n\n###\n\n
278,peru de trabajo ae sela o tu ate awe : feet y ...,3.7 \n\n###\n\n
279,isteri seguro social de salud rex essalud y pr...,3040000.0; 160000.0 \n\n###\n\n
280,sistema integrado de gestién administrativa mé...,4.0 \n\n###\n\n
281,situacion: autorizada fecha: 30/12/2021 000004...,3426.58 \n\n###\n\n

# Conversational format

In [11]:
output_list = []

for index, row in training_df.iterrows():
    temp_dict = {
        "messages": [
            {"role": "system", "content": "Dado el texto extraido de un contrato, extrae los precios unitarios de los bienes comprados."},
            {"role": "user", "content": row['prompt']},
            {"role": "assistant", "content": str(row['completion'])}
        ]
    }
    output_list.append(temp_dict)

In [13]:
with open(data_pro + r'\training_dfs\training_final.jsonl', 'w') as f:
    for entry in output_list:
        json.dump(entry, f)
        f.write('\n')

In [14]:
data_path = data_pro + r'\training_dfs\training_final.jsonl'

# Load the dataset
with open(data_path, 'r', encoding='utf-8') as f:
    dataset = [json.loads(line) for line in f]

# Initial dataset stats
print("Num examples:", len(dataset))
print("First example:")
for message in dataset[0]["messages"]:
    print(message)

Num examples: 282
First example:
{'role': 'system', 'content': 'Dado el texto extraido de un contrato, extrae los precios unitarios de los bienes comprados.'}
{'role': 'user', 'content': 'emapacop .a, empresa municipal of agua potable alcantarillado oe coronel portillo sa. contrato n 001 2019ggemapacop s.a. automatizacion y monitoreo de las fuentes de abastecimiento de agua potable conste por el presente documento, que celebran de una parte la empresa municipal de agua potable y aicantarillado de coronel portillo sociedad anénima, en adelante la entidad, con ruc n 20128985841, con domicilio legal en el jr. julio c. arana n 433 451, debidamente representada por su coordinador rat otass. ing. mirko felix jurado duenas, identificado con dni n 10621651, y de otra parte la empresa esbona corporation sac. con ruc n 20538503755, con domicilio legal en ia av. rivera navarrete n 765 of, 91 cal egy san isidro lima lima, inscrita en la partida electronica n 12590507. del registro de personas juridicas de la oe 4ona registral n ix sede lima, debidamente representada por gerente general sra. doris amelia nufez chavez vda. de esbofia, con dni n 09076155, a quien en adelante se le denominara el contratista en los téfminos y condiciones siguientes: a clausula primera: antecedentes con fecha 28/12/2018, el comité de seleccién consintié la adjudicacién de la buena pro de la adjudicacion simplificada n 0172018emapacopsa derivada de la licitacién publica n 0032018emapacopsa, cuyo objeto es la automatizacion y monitoreo de las fuentes de abastecimiento de agua potable ftgop32, a la empresa esbona corporation sac, cuyos detalles e importe constan en los documentos integrantes del presente contrato. clausulasegunda: objeto el presente contrato tiene por objeto fa automatizacion y monitoreo de las fuentes de abastecimiento de agua potable ftgop32., conforme al siguiente detalle: precios unitarios adjudicacion simplificada n2 0172018 emapacopsa1 derivada de ta licitacién publica n2 o032018emapacopsa1 primera convocatoria unidad pracio sub total sub deseripets: canti item escripcién le dad unitarlo medida a tableo eléctrico de contro y fuerza de sohp, und 7 25,278.62 801.36 440v, con variador 278. 208,801. . 2 tablero eléctrico de control y telemetria con and t transmisién de datos q1 para reservorio villar el satvador sector 113/manantay sector 114 e of para reservorio yoshiyama 01 para cisterna emapacopsa paozo 12 16,352.23 orellana oipara cada pozo total 7 01 para cisterna vallejo 01 para cisterna colina 231,547.53 3 tablero eléctrico de control y fuerza de 7ohp, und 440v con variador 2 32,920.55 77,668.89 a . medidor de caudal electromagnético s und 2 10,662.00 25,162.32 5 medidor de caudal electromagnético 8 und aa 12,431.00 161,354.38 6 sensor de prestén para 4rbol de descarga con und . salida analdégica de 420ma 318 572.00 8,759.14 7 sensor de nivel piezoresistivo pozo und z 5,344.00 44,141.44 f3 sensor de nivel piezoresistivo cisterna o und reservorto s 1,805.00 10,649.50 9 gaidad de control automatico dosificactén de und store incluye bomba booster 7 2370400 195,795.04 10 equipo analizador de cloro residual, incluye und reactlvo por 1 afio 7 11,401.00 94,172.26 aa sensor de fuga de gas cloro. 6 33,965.00 240,472.20 a2 valvula de dlafragma de acclonamiento und eléctrico 6 6,479.00 7.g4s.22 a3 va4lvula de diafragma de acctonamiento und eléctrico 8 7 12,018.00 99,268.68 24 vaivula de diafragma de acclonamiento und eldctrico 4 6 4,147.00 29,360.76 as valvula de mariposa 8 01 para reservorio de und pozo et triunfo, o1 para reservorio del pozo 3y 4 10,589.00 4, 02 para reservorio del pozo yoshlyama 49,980.08 736, valvula de altitud en linea 8 01 para und reservorio del poze el triunfo, 02 para reservorio del pozo 3 y 4, 01 para reservorio del a 16,327.00 77,063.44 pozo yoshlyama 27 ventilador extractor de gases unid 7 4,993.00 44,242.38 18 servicio de instalactén, pruebas y puesta en servicio 1 169,708.98 . 200,256.60 archa total soles 1,803,341.00 a on jr. julio c. arena n 433 calleria coronel portillo ucayali o emapacop s.a, empresa municipal de agua potable y or alcantarillado de coronel portrlo s.a. clausula tercera: monto contractual el monto total del presente contrato asciende a s/. 1803,341.00 un mill6n ochocientos tres mil trescientos cuarenta y uno con 00/100 soles, que incluye todos los impuestos de ley. este monto comprende el costo del bien, todos los tributos, seguros, transporte, inspecciones, pruebas y, de ser el caso, los costos laborales conforme fa legislacién vigente, asi como cualquier otro concepto que pueda tener incidencia sobre la ejecucién de la prestacién materia del presente contrato. clausula cuarta: del pago la entidad se obliga a pagar la contraprestacién a el contratista en soles, luego de la recepcién formal y completa de la documentacién correspondiente, segtin lo establecido en el articulo 149 del reglamento de la ley de contrataciones del estado. para tal efecto, el responsable de otorgar la conformidad de la prestacién debera hacerlo en un plazo que no excedera de los diez 10 dias de producida la recepcién. ua entidad debe efectuar ef pago dentro de los quince 15 dias calendario siguiente a la conformidad de los bienes, siempre que se verifiquen las condiciones establecidas en el contrato para ello. en caso de retraso en el pago por parte de la entidad, salvo que se deba acaso fortuito o fuerza mayor, el contratista tendraé derecho al pago de intereses legales conforme a lo establecido en el articulo 39 de la ley de contrataciones del estado y en el articulo 149 de su reglamento, los que se computan desde la oportunidad en que el pago debié efectuarse. clausula quinta: del plazo de la ejecucion de la prestacion el plazo de ejecucién del presente contrato es de ciento cincuenta 150 dias calendarios, noventa 90 dias calendario para suministro de los bienes y sesenta 60 dias calendarios para la instalacién correspondiente, pruebas y puesta en marcha de todo el sistema de automatizacién, el mismo que se computa desde el dia 5 siguiente de notificada la orden de compra correspondiente. clausula sexta: partes integrantes del contrato el presente contrato esta conformado por las bases integradas, la oferta ganadora, asi como los documentos derivados del procedimiento de seleccién que establezcan obligaciones para las partes.  facultativamente, cualquiera de fas partes tiene el derecho a solicitar una conciliacion dentro del plazo de caducidad correspondiente, segtin lo sefialado en el articulo 183 del reglamento de la ley de contrataciones del estado, sin perjuicio de recurrir al arbitraje, en caso no se llegue a un acuerdo entre ambas partes o se llegue a un acuerdo parcial. las controversias sobre nulidad del contrato solo pueden ser sometidas a arbitraje. el laudo arbitral emitido es inapelable, definitivo y obligatorio para las partes desde el momento de su notificacién, segun lo previsto en el inciso 45.8 del articulo 45 de la ley de contrataciones del estado. clausula decimo novena: facultad de elevar a escritura publica giving, . cualquiera de las partes puede elevar el presente contrato a escritura publica corriendo con todos los gastos 4 p que demande esta formatidad. a is py od, glausula vigesima: domicilio para efectos de laejecucion contractual y gan partes declaran el siguiente domicilio para efecto de las notificaciones que se realicen durante la ejecucién del presente contrato: domicilio de la entidad: jr. julio c. arana n 433 calleria coronel portillo ucayali. domicilio de. contratista: av. rivera navarrete n 765 of. 91 san isidro lima lima. oe sla variacién del domicilio aqui declarado de alguna de las partes debe ser comunicada a la otra parte, ormalmente y por escrito, con una anticipacién no menor de quince 15 dias calendario. ob acuerdo con las bases integradas, la oferta y las disposiciones del presente contrato, las partes lo firman por mati licado en sefial de conformidad en la ciudad de pucallpa a los tres dias del mes de enero del 2019. wye hoce mirarrado duefas bo ce gerente general onerel ewapacop ssas esbotia poration ., oe jr. julio c. arena n 433 calleria coronel portillo ucayali---->'}
{'role': 'assistant', 'content': ' 25378.62; 16352.23; 10662.0; 12431.0; 571.0; 5344.0; 1805.0; 23704.0; 11401.0; 33965.0; 6479.0; 12018.0; 4147.0; 10589.0; 16327.0; 4993.0; 169708.98 \n\n###\n\n'}

In [15]:
# Format error checks
format_errors = defaultdict(int)

for ex in dataset:
    if not isinstance(ex, dict):
        format_errors["data_type"] += 1
        continue
        
    messages = ex.get("messages", None)
    if not messages:
        format_errors["missing_messages_list"] += 1
        continue
        
    for message in messages:
        if "role" not in message or "content" not in message:
            format_errors["message_missing_key"] += 1
        
        if any(k not in ("role", "content", "name") for k in message):
            format_errors["message_unrecognized_key"] += 1
        
        if message.get("role", None) not in ("system", "user", "assistant"):
            format_errors["unrecognized_role"] += 1
            
        content = message.get("content", None)
        if not content or not isinstance(content, str):
            format_errors["missing_content"] += 1
    
    if not any(message.get("role", None) == "assistant" for message in messages):
        format_errors["example_missing_assistant_message"] += 1

if format_errors:
    print("Found errors:")
    for k, v in format_errors.items():
        print(f"{k}: {v}")
else:
    print("No errors found")

No errors found

In [16]:
encoding = tiktoken.encoding_for_model("gpt-3.5-turbo")

# not exact!
# simplified from https://github.com/openai/openai-cookbook/blob/main/examples/How_to_count_tokens_with_tiktoken.ipynb
def num_tokens_from_messages(messages, tokens_per_message=3, tokens_per_name=1):
    num_tokens = 0
    for message in messages:
        num_tokens += tokens_per_message
        for key, value in message.items():
            num_tokens += len(encoding.encode(value))
            if key == "name":
                num_tokens += tokens_per_name
    num_tokens += 3
    return num_tokens

def num_assistant_tokens_from_messages(messages):
    num_tokens = 0
    for message in messages:
        if message["role"] == "assistant":
            num_tokens += len(encoding.encode(message["content"]))
    return num_tokens

def print_distribution(values, name):
    print(f"\n#### Distribution of {name}:")
    print(f"min / max: {min(values)}, {max(values)}")
    print(f"mean / median: {np.mean(values)}, {np.median(values)}")
    print(f"p5 / p95: {np.quantile(values, 0.1)}, {np.quantile(values, 0.9)}")

In [17]:
# Warnings and tokens counts
n_missing_system = 0
n_missing_user = 0
n_messages = []
convo_lens = []
assistant_message_lens = []

for ex in dataset:
    messages = ex["messages"]
    if not any(message["role"] == "system" for message in messages):
        n_missing_system += 1
    if not any(message["role"] == "user" for message in messages):
        n_missing_user += 1
    n_messages.append(len(messages))
    convo_lens.append(num_tokens_from_messages(messages))
    assistant_message_lens.append(num_assistant_tokens_from_messages(messages))
    
print("Num examples missing system message:", n_missing_system)
print("Num examples missing user message:", n_missing_user)
print_distribution(n_messages, "num_messages_per_example")
print_distribution(convo_lens, "num_total_tokens_per_example")
print_distribution(assistant_message_lens, "num_assistant_tokens_per_example")
n_too_long = sum(l > 4096 for l in convo_lens)
print(f"\n{n_too_long} examples may be over the 4096 token limit, they will be truncated during fine-tuning")

Num examples missing system message: 0
Num examples missing user message: 0

#### Distribution of num_messages_per_example:
min / max: 3, 3
mean / median: 3.0, 3.0
p5 / p95: 3.0, 3.0

#### Distribution of num_total_tokens_per_example:
min / max: 196, 4032
mean / median: 2428.900709219858, 2416.0
p5 / p95: 1297.9, 3411.9

#### Distribution of num_assistant_tokens_per_example:
min / max: 2, 654
mean / median: 20.421985815602838, 6.0
p5 / p95: 2.0, 41.0

0 examples may be over the 4096 token limit, they will be truncated during fine-tuning

In [18]:
# Pricing and default n_epochs estimate
MAX_TOKENS_PER_EXAMPLE = 4096

TARGET_EPOCHS = 3
MIN_TARGET_EXAMPLES = 100
MAX_TARGET_EXAMPLES = 25000
MIN_DEFAULT_EPOCHS = 1
MAX_DEFAULT_EPOCHS = 25

n_epochs = TARGET_EPOCHS
n_train_examples = len(dataset)
if n_train_examples * TARGET_EPOCHS < MIN_TARGET_EXAMPLES:
    n_epochs = min(MAX_DEFAULT_EPOCHS, MIN_TARGET_EXAMPLES // n_train_examples)
elif n_train_examples * TARGET_EPOCHS > MAX_TARGET_EXAMPLES:
    n_epochs = max(MIN_DEFAULT_EPOCHS, MAX_TARGET_EXAMPLES // n_train_examples)

n_billing_tokens_in_dataset = sum(min(MAX_TOKENS_PER_EXAMPLE, length) for length in convo_lens)
print(f"Dataset has ~{n_billing_tokens_in_dataset} tokens that will be charged for during training")
print(f"By default, you'll train for {n_epochs} epochs on this dataset")
print(f"By default, you'll be charged for ~{n_epochs * n_billing_tokens_in_dataset} tokens")

Dataset has ~684950 tokens that will be charged for during training
By default, you'll train for 3 epochs on this dataset
By default, you'll be charged for ~2054850 tokens

In [20]:
os.environ['OPENAI_API_KEY'] = ""

In [22]:
openai.api_key = os.getenv("OPENAI_API_KEY")
openai.File.create(
  file=open(data_pro + r'\training_dfs\training_final.jsonl', "rb"),
  purpose='fine-tune'
)

<File file id=file-GK4oi4upp7KhYzfP5MbNbm30 at 0x18a2b50b240> JSON: {
  "object": "file",
  "id": "file-GK4oi4upp7KhYzfP5MbNbm30",
  "purpose": "fine-tune",
  "filename": "file",
  "bytes": 2512994,
  "created_at": 1694214347,
  "status": "uploaded",
  "status_details": null
}

In [26]:
openai.FineTuningJob.create(training_file="file-GK4oi4upp7KhYzfP5MbNbm30", model="gpt-3.5-turbo")

<FineTuningJob fine_tuning.job id=ftjob-APmkr86FJcqQzuxh09Q5xO6W at 0x18a2c708680> JSON: {
  "object": "fine_tuning.job",
  "id": "ftjob-APmkr86FJcqQzuxh09Q5xO6W",
  "model": "gpt-3.5-turbo-0613",
  "created_at": 1694214508,
  "finished_at": null,
  "fine_tuned_model": null,
  "organization_id": "org-Pp6StbgvoyY42pkMUAcanFUD",
  "result_files": [],
  "status": "created",
  "validation_file": null,
  "training_file": "file-GK4oi4upp7KhYzfP5MbNbm30",
  "hyperparameters": {
    "n_epochs": 3
  },
  "trained_tokens": null,
  "error": null
}

In [43]:
openai.FineTuningJob.retrieve("ftjob-APmkr86FJcqQzuxh09Q5xO6W")

<FineTuningJob fine_tuning.job id=ftjob-APmkr86FJcqQzuxh09Q5xO6W at 0x18a347399e0> JSON: {
  "object": "fine_tuning.job",
  "id": "ftjob-APmkr86FJcqQzuxh09Q5xO6W",
  "model": "gpt-3.5-turbo-0613",
  "created_at": 1694214508,
  "finished_at": 1694216728,
  "fine_tuned_model": "ft:gpt-3.5-turbo-0613:personal::7wfSDkB5",
  "organization_id": "org-Pp6StbgvoyY42pkMUAcanFUD",
  "result_files": [
    "file-C2Kl5VsouWpKZ5vGwkqs8ib5"
  ],
  "status": "succeeded",
  "validation_file": null,
  "training_file": "file-GK4oi4upp7KhYzfP5MbNbm30",
  "hyperparameters": {
    "n_epochs": 3
  },
  "trained_tokens": 2053158,
  "error": null
}